<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OhmShop</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fa-solid-900.woff2') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fa-solid-900.woff') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fa-solid-900.ttf') }}">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Center shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:9000/index" methods="get">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:9000/about" methods="get">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:9000/contact" methods="get">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<br>
<br>

<div id="wrapper">
 <!-- Sidebar -->
      <ul class="sidebar navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-table"></i>
            <span>Markets</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Post item</h6>
            <a class="dropdown-item">
            <form method=post enctype=multipart/form-data action="http://localhost:9000/postImage">
              <p><input type=file name=file>
                  <br>
                 <input type=submit value=Upload>
            </form>
            <form method="POST" action="http://localhost:9000/postText">
                <label>
                ชื่อสินค้า : <input type=text name="name" class="form-control">
            </label>
             <br>
                 <label>
                ราคา : <input type=text name="cost" class="form-control">
            </label>
                <br>
                ข้อความประกาศขาย
            <textarea name="message" class="form-control" rows="2"></textarea>
            <br>
            <label>
                เบอร์โทรติดต่อ : <input type=text name=telephone class="form-control">
            </label>
            <br>
            <label>
                อีเมล : <input type=text name=email class="form-control">
            </label>
            <br>
                <br>
                <br>
            <button type="submit">POST</button>
        </form></a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">buy record</h6>
            <a class="dropdown-item" href="404.html">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Item</th>
                      </tr>
                    </thead>
                  </table>
            </a>
          <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">sell record</h6>
            <a class="dropdown-item" href="404.html">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Item</th>
                      </tr>
                    </thead>
                  </table>
            </a>
          </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>My Profile</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
              Hi user
          </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-folder"></i>
            <span>Log out</span></a>
        </li>
      </ul>

    <!--<div class="container">-->
      <!--<div class="row" style="text-align:center;">-->

        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

		<!-- Core plugin JavaScript-->
		<script src="{{ url_for('static', filename='jquery-easing/jquery.easing.min.js') }}"></script>

		<!-- Page level plugin JavaScript-->
		<script src="{{ url_for('static', filename='chart.js/Chart.min.js') }}"></script>
		<script src="{{ url_for('static', filename='datatables/jquery.dataTables.js') }}"></script>
		<script src="{{ url_for('static', filename='datatables/dataTables.bootstrap4.js') }}"></script>

		<!-- Custom scripts for all pages-->
		<script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>

		<!-- Demo scripts for this page-->
		<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
		<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>


</body>
</html>
