<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="text-align:center;font-family:Frostbite Boss Fight;background-image: url('../static/image/windowBack.jpg')">
<div class="jumbotron jumbotron-fluid" style="background-color:black;color:white">
  <div class="container">
    <h1 class="display-1">Register</h1>
  </div>
</div>
<div style="text-align:center;color:white">
    <form method="POST" action="http://localhost:9000/register">
        <label class="lead">Username : <input type="text" name="username" class="form-control"></label>
    <br>
        <label class="lead">Password : <input type="password" name="password" class="form-control"></label>
    <br>
        <label class="lead">Confirm Password : <input type="password" name="confirmPassword" class="form-control"></label>
    <br>
        <label class="lead">Name : <input type="text" name="name" class="form-control"></label>
    <br>
        <label class="lead">Address : <input type="text" name="address" class="form-control"></label>
    <br>
    <button type="submit" class="btn btn-secondary">Register</button>
    </form>
    <br>
    <form method="GET" action="http://localhost:9000/login">
    <button type="submit" class="btn btn-secondary">Back</button>
    </form>
</div>
</body>
</html>